@media screen and (max-width: 800px) {
  .containerHead {
    margin: 100px;
    display: flex;
    flex-direction: row;
    /* flex: 50%; */
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}